<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DRRMOFingerprintDB" connectionString="Server=.\SQLEXPRESS;Database=DRRMOFingerprintDB;Trusted_Connection=True;"
      providerName="System.Data.SqlClient" />
    <add name="DRRMOFingerprintApp.Properties.Settings.DRRMOFingerprintDBConnectionString"
      connectionString="Data Source=ABTIK\SQLEXPRESS;Initial Catalog=DRRMOFingerprintDB;Integrated Security=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>